body {
    
    margin: 0;
    padding: 0;
    background-color: #87CEEB; /* Light blue sea-like color */
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;

}

/* Style the SVG map to fit the screen */
svg {
    width: 90vw;
    margin: 0 auto;
    display: block;
    background-color: transparent; /* Ensure the SVG itself has a transparent background */
    max-width: 80vw; /* Adjust width as needed */
    height: auto;
    max-height: 90vh;
}

/* Style the states */
.state {
    fill: #ddd; /* Default color for the states */
    stroke: #fff;
    stroke-width: 2;
}

/* Hover effect to change the state color to orange */
#andhra-pradesh:hover {
    fill: rgb(145, 171, 0); 
}
#telangana:hover {
    fill: mediumslateblue; 
}
#Andaman-and-Nicobar:hover {
    fill: blue; 
}
#Arunachal-Pradesh:hover {
    fill: green; 
}
#Assam:hover {
    fill: rgb(162, 58, 58); 
}
#Bihar:hover {
    fill: gold; 
}
#Chhattisgarh:hover {
    fill: brown; 
}
#Dādra-and-Nagar-Haveli-and-Damān-and-Diu:hover {
    fill: red; 
}
#Delhi:hover {
    fill: orange; 
}
#Maharashtra:hover {
    fill: orange; 
}
#Goa:hover {
    fill: turquoise; 
}
#Gujarat:hover {
    fill: darkkhaki; 
}
#Haryana:hover {
    fill: blue; 
}
#Himachal-Pradesh:hover {
    fill: lightsalmon; 
}
#Jharkhand:hover {
    fill: forestgreen; 
}
#Karnataka:hover {
    fill: rgb(255, 232, 102); 
}
#Kerala:hover {
    fill: limegreen; 
}
#Madhya-Pradesh:hover {
    fill: rgb(38, 137, 176); 
} 
#Manipur:hover {
    fill: pink; 
}
#Meghalaya:hover {
    fill: tomato; 
}
#Mizoram:hover {
    fill: greenyellow; 
}
#Nagaland:hover {
    fill: black; 
}
#Orissa:hover {
    fill: goldenrod; 
}
#Puducherry:hover {
    fill: green; 
}
#Punjab:hover {
    fill: yellow; 
}
#Rajasthan:hover {
    fill: burlywood; 
}
#Sikkim:hover {
    fill: purple; 
}
#Tamil-Nadu:hover {
    fill: crimson; 
}
#Tripura:hover {
    fill: lightgreen; 
}
#Uttar-Pradesh:hover {
    fill: royalblue; 
}
#Uttaranchal:hover {
    fill: darkgreen; 
}
#West-Bengal:hover {
    fill: rgb(255, 61, 61); 
}
#Lakshadweep:hover {
    fill: green; 
}
#Jammu-and-Kashmir:hover {
    fill: blue; 
}
#Ladakh:hover {
    fill: red; 
}
/* Tooltip styling */
.tooltip {
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 4px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    visibility: hidden; /* Initially hidden */
    pointer-events: none;
    font-size: 14px;
    color: black;
}


.state-info {
    width: 30vw; /* Width for info div */
    height: auto; /* Adjust height based on content */
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
    overflow-y: auto;
    position: fixed; /* Fixed on the right side */
    right: 120px;
    top: 35px;
    border-radius: 10px; /* Rounded corners */
    opacity: 0; /* Start hidden */
    visibility: hidden; /* Initially hidden */
    transition: opacity 0.7s ease, visibility 0.7s ease; /* Smooth transition */
}
.state-info.active {
    visibility: visible; /* Make it visible */
    opacity: 1; /* Fully visible */
}
.state-info h2 {
    font-size: 1.5rem;
    margin-top: 0;
}
.state-info p {
    font-size: 1rem;
}

#india-map {
    cursor: crosshair; /* Change to crosshair when hovering over the SVG */
}



.state-info img {
    display: block;
    margin-top: 10px;
    width: 100%;
    height: auto;
    border-radius: 5px;
}
